In [2]:
import pandas as pd
reference = pd.read_csv("/n/groups/price/sam/tier2/sam/annotboost_upload/annotboost/AnnotBoost_sourcecode/reference_files_demo/reference_files/annotboost/1000G_final.vcf.gz")
input = pd.read_csv("/n/groups/price/sam/tier2/sam/annotboost_upload/annotboost/AnnotBoost_sourcecode/reference_files_demo/reference_files/annotboost/CADD_input.csv.gz")

In [4]:
reference.head(10) #1000G reference panel vcf-like format (in csv.gz; provided; no header)

   1  11008  rs575272151  C  G
0  1  11012  rs544419019  C  G
1  1  13110  rs540538026  G  A
2  1  13116   rs62635286  T  G
3  1  13118  rs200579949  A  G
4  1  13273  rs531730856  G  C
5  1  13550  rs554008981  G  A
6  1  14464  rs546169444  A  T
7  1  14599  rs531646671  T  A
8  1  14604  rs541940975  A  G
9  1  14933  rs199856693  G  A

In [5]:
input.head(10) #input pathogenicity score format (in csv.gz; user provides; header = ["CHR","BP","REF","ALT","SCORE"])
#SCORE column is your input pathogenicity score for 1000G SNPs
#format requirement: five columns with required header matching below. 
#CHR: chromosome without 'chr'; for chr1, use 1 
#BP: base pair (analogous to "END" in bed file)
#REF, ALT allele

   CHR     BP REF ALT  SCORE
0    1  11008   C   G  4.205
1    1  11012   C   G  4.205
2    1  13110   G   A  4.850
3    1  13116   T   G  2.185
4    1  13118   A   G  0.216
5    1  13273   G   C  9.513
6    1  13550   G   A  1.419
7    1  14464   A   T  1.546
8    1  14599   T   A  5.032
9    1  14604   A   G  5.407

In [6]:
feature = pd.read_csv("/n/groups/price/sam/tier2/sam/annotboost_upload/annotboost/AnnotBoost_sourcecode/reference_files_demo/reference_files/annotboost/baselineLD_allchr.annot.gz", sep="\t", nrows=100)
feature.head(10) #baseline-LD feature matrix (in tsv.gz; provided)

,CHR,BP,SNP,CM,base,Coding_UCSC,Coding_UCSC.extend.500,Conserved_LindbladToh,Conserved_LindbladToh.extend.500,CTCF_Hoffman,...,synonymous,non_synonymous,Conserved_Vertebrate_phastCons46way,Conserved_Vertebrate_phastCons46way.extend.500,Conserved_Mammal_phastCons46way,Conserved_Mammal_phastCons46way.extend.500,Conserved_Primate_phastCons46way,Conserved_Primate_phastCons46way.extend.500,BivFlnk,BivFlnk.extend.500
0,1,11008,rs575272151,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,11012,rs544419019,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,13110,rs540538026,0.0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,1,13116,rs62635286,0.0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
4,1,13118,rs200579949,0.0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
5,1,13273,rs531730856,0.0,1,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
6,1,13550,rs554008981,0.0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
7,1,14464,rs546169444,0.0,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
8,1,14599,rs531646671,0.0,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
9,1,14604,rs541940975,0.0,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0